
html, body {
  /* to remove scrolling */
  margin: 0;
  height: 100%;
  overflow: hidden
}

body {
  /* controls the backgroud picture animation */
  /*background-color: #37474f;*/
  animation: colorchange 20s infinite;
  /* animation-name followed by duration in seconds*/
  /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 20s infinite;
  /* Chrome and Safari */
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  animation-iteration-count: infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
    
}

@keyframes colorchange {
  0% {
    background: #81C784;
  }

  25% {
    background: #FF6D00;
  }

  50% {
    background: #283593;
  }

  75% {
    background: #00796B;
  }

  100% {
    background: #81C784;
  }
}

/* TODO: the colors are not equal */
@keyframes colorchange {
  0% {
    background: #81C784;
  }

  25% {
    background: #FF6D00;
  }

  50% {
    background: #3F51B5;
  }

  75% {
    background: #00796B;
  }

  100% {
    background: #81C784;
  }
}

h1 {
  font-family: 'Comfortaa';
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 16.4px;
  font-size: 25px;
  color: white;

  /*text-shadow: 1px 0px white;*/
  text-align: center;
  text-indent: 100px;
  position: fixed;
  left: 390px;
  top: 310px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

/* ****************************** social icons ****************************** */
/*
.social-icons {
  text-align: center;
  display: inline-block;
  list-style-type: none;
  margin-left: 85em;
  margin-top: 3em;
  width: 20px;
  height: 20px;
  margin-top: 4.5em;
  margin-left: 50em;
}


.social-icons img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-top: 40em;
} */

/* ****************************************************************************/
/* Button */
.wrap {
  text-align: center;
  position: relative;
}

.button {
  font-family: 'Comfortaa';
  text-align: center;
  position: fixed;
  font-weight: 200;
  top: 56%;
  right: 46.5%;
  left: auto;
  outline: none;
  font-size: 1.2em;
  height: 42px;
  width: 120px;
  box-shadow: 0px 0px 8px #C8E6C9;
  border: dashed;

  color: white;
  background-color: #19c664;
  opacity: .5;
  transition: all .5s cubic-bezier(0.42, 0, 0.58, .6);
}

.button:hover {
  background-color: #76FF03;
  font-weight: 900;
  font-size: 1.2em;
  font-style: bold;
  opacity: 1;
  color: #fff !important;
  background-color: transparent;
  box-shadow: 0px 0px 14px #388E3C;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-width: 2px;
  border-color: #A5D6A7;
  position: fixed;
}

button:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
}

button:before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: '';
  color: #fff !important;
  background: #27ae60;
  border: none;
  transition: all .5s cubic-bezier(0, 0, 0, 0);

}

/* *************************************************************************/


.border {
  position: fixed;
  top: 0;
  left: 0;
  border: 12px solid white;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: inset 0 0 10px rgba(0,0,0,.5);
}

.fa-reorder {
  position: absolute;
  left: 50px;
  top:50px;

}
